* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  body{
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
}
header{
    display: flex;
    background-color: rgb(5, 5, 5);
    position: sticky;
    top: 0;
    align-items: center;
    height: 7vh;
}
header > h2{
   width: 35%;
   color: #fff;
   padding: 0 10px; 
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    font-size: 1.5em;
}
nav > a:hover{
    color: rgb(68, 67, 67);
    background-color: #fff;
    transition: .2s;
}
  h1{
      /* margin: 40px 0; */
      margin-top: 100px;
      font-size: 3em;
      text-align: center;
  }
  .contact{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
  }

  .contact > form{
      width: 500px;
      height: 40vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(235, 235, 235);

  }
  input[type="text"], .email ,textarea{
      width: 300px;
      margin: 10px 0;
      border: none;
      padding: 10px 5px;
      border: 1px solid rgb(153, 147, 147);
      border-radius: 5px;
  }
  .submit{
      background-color: rgb(0, 0, 0);
      margin:20px;
      border-radius: 20px;
      color: #fff;
      border: none;
      width: 200px;
      padding: 13px;
  }
  .submit:hover{
      background-color: #fff;
      color: black;
      transition: .3s;
      border: none;
  }